<form action="/cart" method="POST">
    <input type="hidden" name="productId" value="<%= product.id %>">
    <input type="hidden" name="productQty" value="1">
    <button class="btn">Add to Cart</button>
</form>